<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>BKKHackmap</title>
        <!-- bkkhack github organization favicon -->
        <link rel="icon" href="https://avatars2.githubusercontent.com/u/15698632?v=3&s=200">
        <link rel="stylesheet" href="style/main.css">
    </head>
    <body>
        <div class="projects side-column">
            <div class="project-form" v-bind:class="{ open: form.isOpen }">
                <input v-model="form.title" type="text" placeholder="Topic" autofocus>
                <textarea v-model="form.description" placeholder="More description (optional)"></textarea>
            </div>
            <button class="glow-button" v-on:click="toggleForm">+ Add your hack</button>
            <div v-for="project in projects"
                 v-on:dragstart="drag"
                 v-on:click="selectedProject = project"
                 v-bind:key="project.id"
                 v-bind:data-id="project.id"
                 v-bind:class="{ selected: selectedProject === project }"
                 v-bind:draggable="project.username === username"
                 v-cloak
                 class="project">
                <img v-bind:src="project.avatar_thumbnail" v-bind:alt="project.username" draggable="false" />
                {{project.title}}
            </div>
            <div class="details" v-if="projects.length === 0">
                No hacks yet!
            </div>
            <div class="loader" v-if="projects.loading">
                <div class="loader1"></div>
                <div class="loader2"></div>
                <div class="loader3"></div>
            </div>
        </div>
        <div class="center-column">
            <h1>BKKHackmap</h1>
            <a class="help-icon">?<div class="help-text" v-html="helpText"></div></a>
            <a class="account-status" v-if="username" v-on:click="logout" v-cloak>{{username}} (Log out)</a>
            <a class="account-status" v-else v-on:click="login" v-cloak>Log in</a>
            <div class="droptarget"
                 v-on:dragover="dragover"
                 v-on:drop="drop">
                <img src="images/carmana.svg" class="floorplan" />
                <img class="marker"
                     v-for="project in projects"
                     v-if="project.x"
                     v-bind:key="project.id"
                     v-bind:draggable="project.username === username"
                     v-on:dragstart="drag"
                     v-on:click="selectedProject = project"
                     v-bind:class="{ selected: selectedProject === project }"
                     v-bind:data-id="project.id"
                     v-bind:style="{ left: mapWidth * project.x - 20 + 'px', top: mapHeight * project.y - 20 + 'px' }"
                     v-bind:src="project.avatar_thumbnail"
                     v-bind:alt="project.username"
                     v-bind:title="project.title" />
            </div>
        </div>
        <div class="details side-column">
            <template v-if="selectedProject.id" v-cloak>
                <a class="edit-button" v-if="selectedProject.username === username" v-on:click="toggleEditMode">{{selectedProject.editMode ? "X" : "Edit"}}</a>
                <img class="avatar"
                    v-bind:src="selectedProject.avatar"
                    v-bind:alt="selectedProject.username" />
                <p><a v-bind:href="'https://github.com/' + selectedProject.username">@{{selectedProject.username}}</a> is hacking on:</p>
                <template v-if="!selectedProject.editMode">
                    <h2>{{selectedProject.title}}</h2>
                    <p class='selected-project-description'>{{selectedProject.description}}</p>
                </template>
                <template v-else>
                    <input v-model="selectedProject.title" type="text" autofocus>
                    <textarea v-model="selectedProject.description"></textarea>
                    <button class="glow-button" v-on:click="updateProject">Update</button>
                </template>
            </template>
        </div>
        <script src="build/vendor.bundle.js"></script>
        <script src="build/bundle.js"></script>
    </body>
</html>
