html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
html {
    /* css blueprint pattern */
    background-color:#269;
    background-image: linear-gradient(rgba(255, 255, 255, .1) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255, 255, 255, .2) 1px, transparent 2px),
    linear-gradient(rgba(255,255,255,.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.2) 1px, transparent 1px);
    background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
body {
    color:#fff;
    font-family:sans-serif;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:flex-start;
    align-items:stretch;
}
a {
    color:#fff;
    font-weight:bold;
    text-decoration:none;
    cursor:pointer;
}
h1 {
    font-weight:normal;
    text-align:center;
    font-size:24pt;
    margin:0;
    -webkit-user-select: none;
    user-select: none;
}
input[type='text'], textarea {
    box-sizing:border-box;
    border-radius:5px;
    font-size:1em;
    width:100%;
    margin-bottom:5px;
    padding: 0.4em;
    outline:none;
    transition:background-color linear 0.2s;
    background-color:rgba(255,255,255,.9);
}
input:focus,
textarea:focus {
    background-color:rgba(255,255,255,1);
}
textarea {
    height:200px;
}
img[draggable="true"],
div[draggable="true"] {
    cursor:pointer;
}
[v-cloak] {
    /* If marked with v-cloak (vue cloak), this overrides everything.
     * Vue will remove this attribute when it's initialized. */
    visibility: hidden !important;
}

/*
 * General app layout
 */

.projects {
    order: 1;
    overflow: scroll;
}
.center-column,
.side-column {
    padding:10px;
    min-height:550px;
}
.center-column {
    order: 2;
    flex: 1;
    background-image: radial-gradient(circle at 50% 50%, rgba(0, 153, 255, 0.2) 0%, rgba(255, 255, 255, 0) 50%);
    position: relative;
}
.side-column {
    background-color:rgba(51, 51, 51, 0.8);
    box-shadow:0 0 10px #000;
    box-sizing:border-box;
    flex-basis: 300px;
}
.details {
    order: 3;
    text-align:center;
    padding-top:60px;
}


/*
 * left column -- project list and form
 */
.glow-button {
    border-radius:4px;
    border: 2px dashed #326fce;
    box-sizing:border-box;
    color: #326fce;
    font-size:18pt;
    height:40px;
    height:40px;
    width:100%;
    background-color:transparent;
    outline:none;
    cursor:pointer;
    transition: all linear 0.2s;
    animation: glow-button 1s infinite alternate
}
.glow-button:hover {
    animation: none;
    border-color: #3a7ce2;
    color: #3a7ce2;
}
.glow-button:active {
    color: #6af;
}
@keyframes glow-button {
    from { color: #326fce; border-color: #326fce }
    to { color: #3a7ce2; border-color: #3a7ce2 }
}
.project-form {
    overflow:hidden;
    max-height:0;
    transition:max-height linear 0.4s;
}
.project-form.open {
    max-height:500px;
}
.project {
    -webkit-user-select: none;
    user-select: none;
    box-sizing:border-box;
    height:42px;
    line-height:42px;
    background-color:rgba(255, 255, 255, 0.1);
    border:1px solid #777;
    margin:10px 0;
    overflow:hidden;
}
.project.selected {
    border:1px solid #397ce2;
}
.project img {
    vertical-align:middle;
    display:inline-block;
    margin-right:5px;
}
/* css loader in left column */
.loader {
    margin: 50px auto 0;
    width: 70px;
    text-align: center;
}
.loader > div {
    width: 18px;
    height: 18px;
    background-color: rgba(255,255,255,.8);

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: zoom 1.4s infinite ease-in-out both;
    animation: zoom 1.4s infinite ease-in-out both;
}
.loader .loader1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader .loader2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
@keyframes zoom {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

/*
 * Main Column - map
 */
.help-icon {
    position:absolute;
    top:0;
    left:0;
    padding:10px 15px;
    font-size:12pt;
}
.help-icon .help-text {
    display:none;
    position:relative;
    background-color:rgba(51, 51, 51, 0.8);
    box-shadow:0 0 10px #000;
    width:300px;
    min-height:100px;
    color:#fff;
    font-weight:normal;
    z-index:2;
    padding:10px;
    top:-16px;
    white-space: pre-line; /* honor line breaks that the user typed */
}
.help-icon:hover .help-text {
    display:block;
}
.account-status {
    display:block;
    position:absolute;
    top:0;
    right:0;
    margin:0;
    font-size:12pt;
    padding:10px 15px 0 0;
}
.droptarget {
    width:90%;

    /* vertical center */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.floorplan {
    /* floorplan image is assumed to be black vector image */
    -webkit-filter:invert(100%) opacity(40%);
    filter:invert(100%) opacity(40%);
    width:100%;

    z-index:0;
    /* disable drag of the floorplan image */
    pointer-events:none;
}
.marker {
    position:absolute;
    z-index:1;
}
.marker.selected {
    -webkit-animation: bounce 2s 2;
    animation: bounce 2s 2;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

/*
 * Right column -- project details
 */
.details h2,
.details p {
    margin:15px 0;
}
.details .avatar {
    border: 1px solid #226699;
}
.edit-button {
    position:absolute;
    top:0;
    right:0;
    padding:10px;
}
.selected-project-description {
    white-space: pre-line; /* honor line breaks that the user typed */
}

/* github avatar resizes -- github stopped respecting the &s parameter, so we manually do it here */
img[src$="s=40"] { width: 40px; height: 40px; }
img[src$="s=120"] { width: 120px; height: 120px; }
